@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 mb-4">
    <div class="greetings-container card">
        <div class="welcome "><h1>Welcome</h1></div>
        <div class="img-text">
            <img src="~/images/logo.png" alt="Alternate Text" class="img-logo" />
            <h3 class="description align-content-center ">
                "Welcome to <b>SmartTrack</b> -- your all-in-one solution for managing attendance, class schedules, and student
                records. Stay organized, stay connected, and track everything with easy."
            </h3>
        </div>
    </div>

    <div class="info-container mt-5">
        <div class="img-announcement card"><img src="~/images/dashboard-img.png" alt="Alternate Text" class="img-thumbnail" /></div>
        <div class="calendar-container card">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FManila&showPrint=0&title=Admin&src=ZW4tZ2IucGhpbGlwcGluZXMjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%230b8043" style="border:solid 1px #777" width="400" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>


