<ul class="navbar-nav ms-auto align-items-center">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="User">Welcome, <b>User</b></a>
    </li>
</ul>
